body {
    font-family: "avenir next", Arial, sans-serif;
    font-size: 12px;
    margin: 0;
}

rect.bar {
    fill: gray;
}

text.label {
    text-anchor: end;
    fill: #fff;
}
text.legend {
    text-anchor: end;
    fill: #000;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}